/* header */
.header-container {
    background-color: #9cd6f4;
    padding: 0;
    margin: 0;
    width: auto;
}
#logo-header {
    width: 120px;
    margin-left: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
}
#author {
    color: #54a0ff;
}

/* Titolo e data */
h1 {
    font-size: 40px;
    margin-top: 20px;
    margin-bottom: 0px;
}
.article-subtitle {
    font-size: 12px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.article-date {
    font-size: 8px;
    margin-top: 0px;
    margin-bottom: 20px;
}
.photo-description {
    font-size: 9px;
    margin-top: 0px;
    margin-bottom: 10px;
}
.text-body {
    font-size: 14px;
}